@import "../../App";

.news-site-menu {
  min-width: 7em;
}

.news-site-list {
  flex-grow: 1;
  align-self: stretch;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 45%;
}

.news-site-detail {
  flex-grow: 1;
  align-self: stretch;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 45%;
}
