@import "../../App";

.news-item {
  background-color: lighten($main-bg, 5%);
  border: 1px solid lighten($main-bg, 3%);
  display: flex;
  margin: 5pt;
  padding: 1ex 1em;
  align-items: center;

  &:hover {
    background-color: lighten($main-bg, 10%);
  }

  &.active {
    background-color: lighten($main-bg, 15%);
    border: 1px solid lighten($main-bg, 60%);
  }

  img {
    border-radius: 1ex;
    max-width: 80px !important;
    max-height: 2.5em !important;
    width: auto;
    height: auto;
  }

  .news-item-image {
    padding: 0 0 0 1ex;
  }

  .news-item-flags {
    font-size: 80%;
    padding: 0 0 1ex 0;
  }

  .news-item-flags a {
    color: $main-fg;
  }

  .news-item-flags span {
    padding-right: 3pt;
  }

  .news-item-flags svg {
    padding: 0 3pt;
  }

  .news-item-main {
    flex-grow: 1;
  }

  .news-item-title {
    word-break: break-word;
    white-space: pre-line;
  }
}
