@import "../../App";

.news-control {
  padding: 1em;

  .price-indicator {
    padding: 2em 0;
  }

  .price-symbol {

  }

  .price-value {
    display: inline-block;
    color: lighten($main-fg, 20%);
    font-size: 120%;
  }

  .price-change, .price-change-label {
    font-size: 80%;
    padding: 0 2pt;
  }

  .color-negative {
    color: #dc3545;
  }

  .color-positive {
    color: #4cdc52;
  }
}
