@import "../../App";

.sources {
  border-collapse: collapse;

  th, td {
    border: 1px solid lighten($main-bg, 20%);
    padding: 2pt 5pt;
    text-align: left;
  }

  small {
    font-size: 80%;
  }

  .color-negative {
    color: #dc3545;
  }

  .color-positive {
    color: #4cdc52;
  }
}
