.news-control {
  padding: 1em;
  text-align: center;

  .price-indicator {
    padding: 2em 0;
  }

  .price-symbol {
    font-size: 90%;
  }

  .price-value {
    display: inline-block;
    color: #ccc;
    font-size: 120%;
  }

  .price-change, .price-change-label {
    font-size: 80%;
    padding: 0 3pt;
  }

  .color-negative {
    color: #dc3545;
  }

  .color-positive {
    color: #4cdc52;
  }
}
