button {
  background-color: #528ede;
  border: 2px solid #528ede;
  padding: 3pt 10pt;
  color: white;
  cursor: pointer;
  font-size: 90%;
  box-shadow: 1pt 1pt 5pt #000000;
  /* letter-spacing: 1px; */
  background: linear-gradient(0deg, #226cde, #378ede);
}

button:hover {
  background: none transparent;
  background-color: #3873a9;
  border: 2px solid #528ede;
}
