@import "../../App";

button {
  border: 2px solid darken($link-fg, 30%);
  border-radius: 5pt;
  padding: 3pt 10pt;
  color: white;
  cursor: pointer;
  font-size: 90%;
  box-shadow: 1pt 1pt 5pt darken($link-fg, 80%);
  background: $link-fg linear-gradient(0, darken($link-fg, 10%), darken($link-fg, 20%));
}

button:hover {
  background: lighten($link-fg, 10%) none;
  border: 2px solid darken($link-fg, 10%);
  color: darken($link-fg, 80%);
}
