@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

$main-bg: #050505;
$main-fg: #999999;
$link-fg: #48b0de;
$external-fg: #aaaaaa;

body, html {
  background-color: $main-bg;
  color: $main-fg;
  line-height: 1.2;
  font-family: Ubuntu, Avenir, sans-serif;
  font-size: 12pt;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

a {
  color: $link-fg;
  text-decoration: none;
}

a:hover {
  color: lighten($link-fg, 30%);
}

div, p {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

*::-webkit-scrollbar-track {
  background-color: lighten($main-bg, 5%);
}

*::-webkit-scrollbar {
  width: 1ex;
}

*::-webkit-scrollbar-thumb {
  background-color: lighten($main-bg, 20%);
  border: 1px solid $main-bg;
  border-radius: 5pt;
}
