.inside {
  line-height: 1.5;
  padding: 2em;

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 1em 0 1ex 0;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #cccccc;
  }

  img {
    border-radius: 1ex;
    max-width: 50% !important;
    max-height: 50% !important;
    width: auto;
    height: auto;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .flags span {
    padding-right: 1em;
  }

  .flags svg {
    padding-right: 3pt;
  }

  .flags button {
    margin-right: 1em;
  }

  .external {
    margin-top: 1em;
  }

  .empty-news {
    font-size: 200%;
    text-align: center;
  }
}

